//- html
//-   head
//-     title= title
//-     link(rel='stylesheet', href='../stylesheets/style.css')
//-   body
//-     h1 第二個頁面！
//-     h1= title
//-     p Welcome to #{ironMan30}#{theTwenty}
//-     h2= haha
doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='../stylesheets/style.css')
    title 購物車
    style
      // 在這裡可以添加 CSS 樣式
  body
    header
    // 頁面標題
    h1= title

    // 導航欄
    nav
      ul
        li
          a(href="http://localhost:3000/") 首頁
        li
          a(href="http://localhost:3000/products") 商品
        li
          a(href="http://localhost:3000/cart") 購物車
        li
          a(href="http://localhost:3000/contact") 聯絡我們
        if loggedIn==false
          li
            a(href="http://localhost:3000/login") 登入
          li
            a(href="http://localhost:3000/registration") 註冊
    // 後臺系統
    if isVIP && loggedIn
      section.floating-section
        .floating-container
          .main-block
            span 後台系統
          a(href="http://localhost:3000/product-management")
            .sub-block#product-management(data-text="商品管理")
              img(src="product-icon.png")
          a(href="http://localhost:3000/order-management")
            .sub-block#order-management(data-text="訂單管理")
              img(src="order-icon.png")
          a(href="http://localhost:3000/content-management")
            .sub-block#content-management(data-text="網站內容管理")
              img(src="content-icon.png")
          a(href="http://localhost:3000/member-management")
            .sub-block#member-management(data-text="會員管理")
              img(src="member-icon.png")
          a(href="http://localhost:3000/admin-management")
            .sub-block#admin-management(data-text="管理者管理")
              img(src="admin-management-icon.png")
          a(href="http://localhost:3000/history-management")
            .sub-block#history-management(data-text="歷史紀錄")
              img(src="history-icon.png")
          a(href="http://localhost:3000/blacklist-management")
            .sub-block#blacklist-management(data-text="黑名單")
              img(src="blacklist-icon.png")
          a(href="http://localhost:3000/report-management")
            .sub-block#report-management(data-text="營業報表")
              img(src="report-icon.png")
          a(href="http://localhost:3000/system-settings")
            .sub-block#system-settings(data-text="系統設定")
              img(src="settings-icon.png")


    // 頁面標題
    header
      h1 購物車

    // 購物車內容
    main
      section
        h2 購物車清單
        table
          thead
            tr
              th 商品
              th 價格
              th 數量
              th 小計
              th 操作
          tbody
            tr
              td 商品名稱
              td $99.99
              td 1
              td $99.99
              td
                button 移除
            tr
              td 商品名稱
              td $59.99
              td 2
              td $119.98
              td
                button 移除
              // 可以添加更多商品
          tfoot
            tr
              td(colspan="3")
              td
                strong 總計：
              td
                strong $219.97

        // 結帳按鈕
        div
          button 結帳

    // 頁腳
    footer
      p 版權所有 &copy; 2023 #{xxstudio} 
