//- html
//-   head
//-     title= title
//-     link(rel='stylesheet', href='../stylesheets/style.css')
//-   body
//-     h1 第二個頁面！
//-     h1= title
//-     p Welcome to #{ironMan30}#{theTwenty}
//-     h2= haha
doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='../stylesheets/style.css')
    title 聯絡我們
    style
      // 在這裡可以添加 CSS 樣式
  body
    header
    // 頁面標題
    h1= title

    // 導航欄
    nav
      ul
        li
          a(href="http://localhost:3000/") 首頁
        li
          a(href="http://localhost:3000/products") 商品
        li
          a(href="http://localhost:3000/cart") 購物車
        li
          a(href="http://localhost:3000/contact") 聯絡我們
        li
          a(href="http://localhost:3000/login") 登入
        li
          a(href="http://localhost:3000/registration") 註冊

    // 頁首
    header
      h1 聯絡我們

    // 聯絡資訊
    section
      h2 我們的聯絡資訊
      p 如果您有任何疑問或需要進一步的資訊，請隨時聯絡我們。我們的團隊將竭誠為您服務。
      ul
        li 地址：12345 台灣台北市
        li 電話：+886 123 456 789
        li 電子郵件：info@example.com

    // 聯絡表單
    section
      h2 聯絡表單
      form
        label(for="name") 您的姓名：
        input(type="text", id="name", required)
        br
        label(for="email") 您的電子郵件：
        input(type="email", id="email", required)
        br
        label(for="message") 您的訊息：
        textarea(id="message", required)
        br
        button(type="submit") 送出

    // 頁腳
    footer
      p 版權所有 &copy; 2023 #{xxstudio} 
