//- html
//-   head
//-     title= title
//-     link(rel='stylesheet', href='../stylesheets/style.css')
//-   body
//-     h1 第二個頁面！
//-     h1= title
//-     p Welcome to #{ironMan30}#{theTwenty}
//-     h2= haha
doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='../stylesheets/style.css')
    title 聯絡我們
    style
      // 在這裡可以添加 CSS 樣式
  body
    header
    // 頁面標題
    h1= title

    // 導航欄
    nav
      ul
        li
          a(href="http://localhost:3000/") 首頁
        li
          a(href="http://localhost:3000/products") 商品
        li
          a(href="http://localhost:3000/cart") 購物車
        li
          a(href="http://localhost:3000/contact") 聯絡我們
        if loggedIn==false
          li
            a(href="http://localhost:3000/login") 登入
          li
            a(href="http://localhost:3000/registration") 註冊
    // 後臺系統
    if isVIP && loggedIn
      section.floating-section
        .floating-container
          .main-block
            span 後台系統
          a(href="http://localhost:3000/product-management")
            .sub-block#product-management(data-text="商品管理")
              img(src="product-icon.png")
          a(href="http://localhost:3000/order-management")
            .sub-block#order-management(data-text="訂單管理")
              img(src="order-icon.png")
          a(href="http://localhost:3000/content-management")
            .sub-block#content-management(data-text="網站內容管理")
              img(src="content-icon.png")
          a(href="http://localhost:3000/member-management")
            .sub-block#member-management(data-text="會員管理")
              img(src="member-icon.png")
          a(href="http://localhost:3000/admin-management")
            .sub-block#admin-management(data-text="管理者管理")
              img(src="admin-management-icon.png")
          a(href="http://localhost:3000/history-management")
            .sub-block#history-management(data-text="歷史紀錄")
              img(src="history-icon.png")
          a(href="http://localhost:3000/blacklist-management")
            .sub-block#blacklist-management(data-text="黑名單")
              img(src="blacklist-icon.png")
          a(href="http://localhost:3000/report-management")
            .sub-block#report-management(data-text="營業報表")
              img(src="report-icon.png")
          a(href="http://localhost:3000/system-settings")
            .sub-block#system-settings(data-text="系統設定")
              img(src="settings-icon.png")

    // 頁首
    header
      h1 聯絡我們

    // 聯絡資訊
    section
      h2 我們的聯絡資訊
      p 如果您有任何疑問或需要進一步的資訊，請隨時聯絡我們。我們的團隊將竭誠為您服務。
      ul
        li 地址：12345 台灣台北市
        li 電話：+886 123 456 789
        li 電子郵件：info@example.com

    // 聯絡表單
    section
      h2 聯絡表單
      form
        label(for="name") 您的姓名：
        input(type="text", id="name", required)
        br
        label(for="email") 您的電子郵件：
        input(type="email", id="email", required)
        br
        label(for="message") 您的訊息：
        textarea(id="message", required)
        br
        button(type="submit") 送出

    // 頁腳
    footer
      p 版權所有 &copy; 2023 #{xxstudio} 
