//- doctype html
//- html
//-   head
//-     title= title
//-     link(rel='stylesheet', href='../stylesheets/style.css')
//-     // 導入js文件
//-     // script(type='text/javascript', src='script.js')
//-   body
//-     h1 第二個頁面！
//-     h1= title
//-     p Welcome to #{ironMan30}  #{theTwenty}
//-     h2= haha
//-     form(action='/postdemo', method='post')
//-       input(type='text', name='userName', value='BigQ')
//-       input(type='password', name='password', value='')
//-       input(type='submit', value='Submit')

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 第二個頁面！
    h1= title
    p Welcome to #{ironMan30}#{theTwenty}
    h2= haha
doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='../stylesheets/style.css')
    title 產品列表
  body
    h1= title
    // 導航欄
    nav
      ul
        li
          a(href="http://localhost:3000/") 首頁
        li
          a(href="http://localhost:3000/products") 商品
        li
          a(href="http://localhost:3000/cart") 購物車
        li
          a(href="http://localhost:3000/contact") 聯絡我們
        if loggedIn==false
          li
            a(href="http://localhost:3000/login") 登入
          li
            a(href="http://localhost:3000/registration") 註冊
    // 後臺系統
    if isVIP && loggedIn
      section.floating-section
        .floating-container
          .main-block
            span 後台系統
          a(href="http://localhost:3000/product-management")
            .sub-block#product-management(data-text="商品管理")
              img(src="product-icon.png")
          a(href="http://localhost:3000/order-management")
            .sub-block#order-management(data-text="訂單管理")
              img(src="order-icon.png")
          a(href="http://localhost:3000/content-management")
            .sub-block#content-management(data-text="網站內容管理")
              img(src="content-icon.png")
          a(href="http://localhost:3000/member-management")
            .sub-block#member-management(data-text="會員管理")
              img(src="member-icon.png")
          a(href="http://localhost:3000/admin-management")
            .sub-block#admin-management(data-text="管理者管理")
              img(src="admin-management-icon.png")
          a(href="http://localhost:3000/history-management")
            .sub-block#history-management(data-text="歷史紀錄")
              img(src="history-icon.png")
          a(href="http://localhost:3000/blacklist-management")
            .sub-block#blacklist-management(data-text="黑名單")
              img(src="blacklist-icon.png")
          a(href="http://localhost:3000/report-management")
            .sub-block#report-management(data-text="營業報表")
              img(src="report-icon.png")
          a(href="http://localhost:3000/system-settings")
            .sub-block#system-settings(data-text="系統設定")
              img(src="settings-icon.png")

    h2 產品列表
    ul.product-grid
      li
        a(href="product1.html")
          div.product-item
            div.product-image
              img(src="/images/product1.jpg", alt="商品1")
            div.product-details
              h3 商品1
              p 商品1的描述
      li
        a(href="product2.html")
          div.product-item
            div.product-image
              img(src="/images/product2.jpg", alt="商品2")
            div.product-details
              h3 商品2
              p 商品2的描述
      li
        a(href="product3.html")
          div.product-item
            div.product-image
              img(src="/images/product3.jpg", alt="商品3")
            div.product-details
              h3 商品3
              p 商品3的描述
    //聯絡我們
    div.contact-block
      a(href="http://localhost:3000/contact")
        h3 聯絡我們
      p
        | 有任何問題或疑慮嗎？
        br
        | 請隨時聯絡我們。

      


    // 頁腳
    footer
      p 版權所有 &copy; 2023 #{xxstudio}
